.button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
}
 .h-500{
     margin-top: 40px;
 }
 
 .text-center{
    border-radius: 0;
    margin: 20px;
 }

 .input{
     height: 100px;
     width: 130px;
     font-size: 30px;
 }