<div class="alert alert-warning text-center">
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum1()">{{ num1 }}</button>
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum2()">{{ num2 }}</button>
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum3()">{{ num3 }}</button>
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum4()">{{ num4 }}</button>
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum5()">{{ num5 }}</button>
    <button class="btn btn-circle btn-primary m-3 text-light button" (click)="getNum6()">{{ num6 }}</button>
</div>
<div class="text-center">
    <h1>You have Selected</h1>
    <input type="text" value="{{result}}" class="text-center input">
</div>